body{
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 24px;
    
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

ul{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    list-style-type: none;
    font-size: 18px;
}

a{
    color: white;
    text-decoration: none;
}

.attention-grabber{
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 50px;
    gap: 20px;
}

.attention-grabber-text{
    max-width: 45%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.attention-grabber-text-title{
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.attention-grabber-text-content{
    font-size: 18px;
    color: #e5e7eb;
}

button{
    border-radius: 8px;
    padding: 5px 15px;
    width: 100px;
}

.image-placeholder{
    flex: 1;
    max-width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

h2{
    align-self: center;
    justify-self: center;
}

.card-holder{
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 90%;
    justify-self: center;
}

.image-card-image{
    border: #3882f6;
    border-width: 2px;
    border-style: solid;
    height: 100px;
    width: 100px;
    border-radius: 8px;
    flex: 0;
    margin: auto;
}

.image-card p{
    text-align: center;
    width: 100px;
}

.endorsement{
    background-color: lightgray;
    padding: 50px;
    font-size: 20px;
    padding: 10%;
}

.call-to-action{
    background-color: #3882f6;
    color: white;
    border-radius: 8pt;
    height: 50%;
    width: 80%;
    min-height: 100px;
    margin: 5% 20%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

